<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>27184176841-gbmict97dke8gvht98c9pirl00fum7h0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.27184176841-gbmict97dke8gvht98c9pirl00fum7h0</string>
	<key>API_KEY</key>
	<string>AIzaSyCRWJHgYIao_K_WDnu6bxbaj9qlwlxzlio</string>
	<key>GCM_SENDER_ID</key>
	<string>27184176841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.Pteam.Networking</string>
	<key>PROJECT_ID</key>
	<string>networking-2d9d6</string>
	<key>STORAGE_BUCKET</key>
	<string>networking-2d9d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:27184176841:ios:36d7a346050c3e22a43718</string>
	<key>DATABASE_URL</key>
	<string>https://networking-2d9d6.firebaseio.com</string>
</dict>
</plist>